<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Compiler</title>
    <link rel="stylesheet" href="/public/css/style.css"> 

    <link rel="stylesheet" href="public\codemirror-5.65.11\lib\codemirror.css">
    <script src="public\codemirror-5.65.11\lib\codemirror.js"></script>

    <script src="public/codemirror-5.65.11/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="public\codemirror-5.65.11\theme\neo.css">
    <link rel="stylesheet" href="public/codemirror-5.65.11/addon/display/fullscreen.css">
    <script src="public/codemirror-5.65.11/addon/edit/closebrackets.js"></script>

  
    



</head>

    <nav>
     <div class="heading">
        <h1>CodeHub</h1>
    </div>
    
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/code">Code</a>
            <a href="/about">About Us</a>
        </div>
    </nav>
  
</html>