<%- include("header.ejs"); -%>
 <body>
    

<div class="home">
    <div class="left-side-content">
         <h2>
            CodeHub
         </h2>

         <div class="logo">
         <h3>Code Anytime || Code Anywhere </h3>
        </div>
         <div class="code-btn">
            <a href="/code">Code Now</a>
            <a id="second" href="/about">Contact Us</a>
         </div>

    </div>
    <div class="right-side-content">
             <div class="image">
                <img src="/public/images/editor.png" alt="">
             </div>
    </div>
</div>
 
<div class="options">
    <h3 id="options-h3">Available Options</h3>
<div class="info">
    <div class="lang-img">
     <img src="/public/images/lang/python.png" alt="">
     <h3>Python</h3>
     </div>
    <div class="lang-img">
    <img src="/public/images/lang/c.png" alt="">
     <h3>C</h3>    
    </div>
    <div class="lang-img">
     <img src="/public/images/lang/cpp.png" alt="">
     <h3>C++</h3>
    </div>
    <div class="lang-img"> 
    <img src="/public/images/lang/java.png" alt="">
    <h3>Java</h3>
    </div>


</div>
</div>

<div class="dialoge">
   <p>
    With  <mark> CodeHub</mark>, You can easily write, test your code from any device with an internet connection, making it the perfect tool for anyone looking for <br><br> <mark> Convenience, Collaboration</mark> and <mark> Accessibility</mark> in their coding journey !
   </p>
</div>

<div class="tech-used">
    <h3>Technologies Used To Build CodeHub </h3>
    <div class="row">
        <div class="column"> <img src="/public/images/lang/html.png" alt=""></div>
        <div class="column"><img src="/public/images/lang/css.png" alt=""></div>
        <div class="column"><img src="/public/images/lang/js.png" alt=""></div>
        <div class="column"><img src="/public/images/lang/icons8-nodejs-480.png" alt=""></div>
        <div class="column"><img src="/public/images/lang/icons8-express-js-500.png" alt=""></div>
        <div class="column"><img src="/public/images/lang/ejs.png" alt="" style="margin-top: 3rem;"></div>
    </div>
   

</div>
</body>

<%- include("footer.ejs"); -%>